@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

:root {
    --bg-main: #F8F0DF;
    --bg-scnd: #fdfbf6;
    --color-primary: #0a5c61;
    --color-scnd: #79B4B7;
    --color-thr: ;
    --color-four: ;
}

/* general styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    width: 100vw;
    background: var(--bg-scnd);
    display: flex;
    flex-direction: column;
    Align-items: center;
    justify-content: center;
    /* max-width: 1400px; */
}

h1 {
    margin-top: 1rem;
}

/* link styles */

a:visited {
    color: black;
}

/* nav styles */

nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid var(--color-scnd);
    background-color: #222222;
    margin-bottom: 3rem;
}

.nav-logo-container {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2rem;
    position: absolute;
    left: 3rem;
    top: 18px;
    color: var(--bg-main);
}

.nav-container {
    width: 100vw;
    /* margin: 1rem; */
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.nav-container>a {
    margin: 1rem;
    /* border: 2px solid black; */
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    /* background: lightgray; */
    color: var(--bg-main);
    font-weight: 600;
}

/* submit-recipe styles */

.formH2 {
    margin: 3rem 0 3rem 0;
    text-decoration: underline;
}

/* view-recipe styles */

.view-recipe-wrapper,
.new-recipe-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    row-gap: 1.5rem;
    margin-bottom: 2rem;
    /* padding: 0 30px; */
    width: 90vw;
}

#rating {
    display: flex;
    align-items: center;
    /* gap: ; */
}

.rating-stars>img {
    height: 20px;
    width: 20px;
}

#img-info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1.5rem;
    /* width: 100%; */
}

#meal-img {
    /* width: 90%; */
}

#meal-img>img {
    width: 100%;
    height: auto;
}

#meal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 2px solid var(--color-primary);
    border-radius: 2px;
    row-gap: 1rem;
    width: 100%;
    padding-left: 1rem;
    padding: 1rem;
}

#gallery {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

#gallery>img {
    height: 45px;
    width: 75px;
}

#blurb {
    margin-top: 3rem;
}

#selected_categories {
    margin: 1rem 0;
}

.selected_category {
    font-size: .9rem;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
}

#clearCategories {
    margin-bottom: 1rem;
    float: right;
    padding: 5px;
}

.direction {
    white-space: pre-line;
    margin-top: 1rem;
}

/* browse-recipes styles */

.browse-recipes-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    row-gap: 1.5rem;
    margin-bottom: 2rem;
    width: 90vw;
    /* padding: 0 30px; */
}

.card_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 2rem;
    width: 100%;
    background-color: var(--bg-scnd);
}

.card-link {
    display: flex;
    flex-flow: row nowrap;
    width: 48%;
}

.card {
    padding-bottom: 3rem;
    border: none;
    border-radius: 0;
}

.card:hover {
    top: 0;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0 var(--color-scnd);
}

.card-title {
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: 600; */
    font-size: 1.5rem;
}

.card-timer {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}


/* recipe-explorer styles */

.childlinks-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: var(--bg-main);
    padding: 2rem 1rem;
    gap: 2rem;
}

.child-links {
    padding: .5rem;
    border-radius: 5px;
    background: white;
    font-weight: 500;
    border-color: var(--color-scnd);
}

.child-links:hover {
    background-color: var(--color-scnd);
    color: var(--bg-scnd);
    border-color: var(--color-primary);
}

@media only screen and (min-width: 768px) {

    .view-recipe-wrapper,
    .new-recipe-wrapper {
        width: 80%;
    }
}

@media only screen and (min-width: 1024px) {

    .input-group-text,
    .btn {
        font-size: 1.2rem;
    }

    .view-recipe-wrapper {
        width: 80%;
    }

    .new-recipe-wrapper {
        width: 60%
    }

    #meal-img {
        width: 60%;
    }

    #meal-info {
        width: 30%;
    }

    .recipe-info {
        width: 60%;
    }

    #blurb {
        margin-top: 3rem;
    }

    .card_container {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1200px) {

    .input-group-text,
    .btn {
        font-size: 1.25rem;
    }

    .nav-container {
        width: 80%;
    }

    .view-recipe-wrapper {
        width: 60%;
        justify-content: center;
    }

    .new-recipe-wrapper {
        width: 50%;
    }

    .browse-recipes-wrapper {
        width: 80%;
    }

    #meal-img {
        width: 55%;
        height: auto;
    }

    #meal-img>img {
        /* width: 700px; */
    }

    #meal-info {
        width: 40%;
    }

    #gallery {
        order: 3;
    }

    .card_container {}

    .card-link {
        width: 24%;
    }

    .recipe-info {
        /* width: 40rem; */
    }
}