* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    display: flex;
    Align-items: flex-start;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    row-gap: 1.5rem;
    margin-bottom: 2rem;
    width: 90vw;
}

h1 {
    margin-top: 3rem;
}

#rating {
    display: flex;
    align-items: center;
    /* gap: ; */
}

.gold-star>img {
    height: 20px;
    width: 20px;
}

#img-info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1.5rem;
    /* width: 100%; */
}

#meal-img {}

#meal-img>img {
    width: 100%;
    height: auto;
}

#meal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: 2px solid #868686a7;
    border-radius: 2px;
    row-gap: 1rem;
    width: 100%;
    padding-left: 1rem;
    padding: 1rem;
}

#gallery {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

#gallery>img {
    height: 45px;
    width: 75px;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

#blurb {}

#ingredients {}

#directions {}

.paragraph {
    margin-top: 1rem;
}

#nutrition {}

#notes {}

@media only screen and (min-width: 768px) {
    body {
        background: red;
    }

    .wrapper {
        width: 75%;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background: silver
    }

    .wrapper {
        width: 60%;
    }
}

@media only screen and (min-width: 1280px) {
    body {
        background: lightseagreen;
    }

    .wrapper {
        width: 50%;
        justify-content: flex-start;
    }

    #meal-img {
        width: 55%;
    }

    #meal-info {
        width: 40%;
    }

    #gallery {
        order: 3;
    }

    .recipe-info {
        width: 40rem;
    }
}